We will use regression with multiple variables here. Price can be calculated using following equation,

In [4]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [14]:
df = pd.read_csv('homeprices_multivariateReg.csv')
df
#Pre processing data before applying ML model

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [9]:
import math 
median=df['bedrooms'].median()
median

4.0

In [23]:
df.bedrooms = df.bedrooms.fillna(median)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [24]:
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']] , df.price)

LinearRegression()

In [26]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [28]:
reg.intercept_

221323.00186540408

In [30]:
reg.predict([[6777,8,9]])

array([1138795.75035307])

Collecting word2Number
  Downloading word2number-1.1.zip (9.7 kB)
Building wheels for collected packages: word2Number
  Building wheel for word2Number (setup.py): started
  Building wheel for word2Number (setup.py): finished with status 'done'
  Created wheel for word2Number: filename=word2number-1.1-py3-none-any.whl size=5591 sha256=de98970e4b65f90ead83e3af7f3078dfe2ffb1cf3f028ea5d95f6698fc37de16
  Stored in directory: c:\users\hp\appdata\local\pip\cache\wheels\cb\f3\5a\d88198fdeb46781ddd7e7f2653061af83e7adb2a076d8886d6
Successfully built word2Number
Installing collected packages: word2Number
Successfully installed word2Number-1.1
Note: you may need to restart the kernel to use updated packages.