## Read & Write Excel Files

In [2]:
import pandas as pd

def convert_peopleCell(cell):
    if cell =="n.a.":
         return "sam walton"
    return cell

def convert_epsCell(cell):
    if cell=="not available":
        return None
    return cell

def convert_revenueCell(cell):
    if cell <0:
        return 0
    return cell

df = pd.read_excel("stock_data.xlsx","Sheet1",converters ={
    'people' : convert_peopleCell,
    'eps' : convert_epsCell,
    'revenue' : convert_revenueCell
})
df

  tickers    eps  revenue price         people
0   GOOGL  27.82       87   845     larry page
1     WMT   4.61      484    65     sam walton
2    MSFT  -1.00       85    64     bill gates
3    RIL     NaN       50  1023  mukesh ambani
4    TATA   5.60        0  n.a.     ratan tata

In [7]:
# I know the founder of WMT

## Writing Excel File

In [9]:
# Above modified dataframe created in new excel file
df.to_excel("new_StockData.xlsx",sheet_name="Stocks",index=False)

In [12]:
# to change the starting position of file
df.to_excel("new_StockData.xlsx",sheet_name="Stocks",startrow=1,startcol=3)

### Inserting two dataframes as sheets in Excel

In [14]:
 df_weather = pd.Dataframe({
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
})

df_stocks = pd.DataFrame({
    'tickers' : ['Google', 'Walmart', 'Microsoft'],
    'price' : [343,56546,23231],
    'eps' : [23.43,65.23,7.21]
})

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [15]:
with pd.ExcelWriter('stocks_weather.xlsx') as writer:
    df_stocks.to_excel(writer,sheet_name="stocks")
    df_weather.to_excel(writer,sheet_name="weather")

NameError: name 'df_stocks' is not defined