DICTIONARIES AND TUPLES

*(Similar to hashmaps)*

In [1]:
d = {"ram":345465434343,"krishna":7864565434,"vishnu":95453434}
print(d)

{'ram': 345465434343, 'krishna': 7864565434, 'vishnu': 95453434}

In [6]:
d["ram"]#ram is key and accessing value from key

345465434343

In [7]:
#adding new Entry
d["brahma"]=433434343
d

{'ram': 345465434343,
 'krishna': 7864565434,
 'vishnu': 95453434,
 'brahma': 433434343}

In [8]:
#delete entry
del d["ram"]
d

{'krishna': 7864565434, 'vishnu': 95453434, 'brahma': 433434343}

In [13]:
#print dictionary
for key in d:
    print("key:",key,"value:",d[key])

key: krishna value: 7864565434
key: vishnu value: 95453434
key: brahma value: 433434343

In [14]:
#Print using Tuples
for k,v in d.items():
    print("key:",k,"value:",v)

key: krishna value: 7864565434
key: vishnu value: 95453434
key: brahma value: 433434343

In [15]:
#checking key in dict
"durga" in d

False

In [16]:
d

{'krishna': 7864565434, 'vishnu': 95453434, 'brahma': 433434343}

In [20]:
#To clear the dictionary
d.clear()
d

{}

TUPLES :List of values grouped together

*List:All values have same meaning*

*Tuples:All values have diff. meaning*

In [1]:
#defining a tuple
point=(5,9)
#5 and 9 represent x and y coordinate which are diff
#if all values are same then use list (all x coordinate)
print(point[0],point[1])

5 9

In [2]:
address=("Swarajpuri Road","Gaya,Bihar",823001)
#it includes Street Name,State,pincode
address

('Swarajpuri Road', 'Gaya,Bihar', 823001)

In [27]:
#Tuples are immutable
point[0]=43 #values can't change

TypeError: 'tuple' object does not support item assignment