In [18]:
 rent=1220
 gas=202.34
groceries=3934.34
print(rent)

1220

In [19]:
total=rent+gas+groceries
print(total)

5356.68

In [20]:
rent=1400
# Use ctrl+/ to comment 
#careful in indenting of the code.Start with new line
a="rent"
b="gas" 
c="groceries"
print("Expensive items:",a,b,c)

Expensive items: rent gas groceries

Numbers in Python

In [21]:
12+334
4*32

128

In [22]:
11%3

2

In [23]:
3**2

9

In [24]:
gaya=129
dhanbad=450
total=gaya+dhanbad
total

579

In [25]:
speed_kph=343
time=total/speed_kph
time

1.6880466472303206

In [26]:
round(time,3)
#precision of decimal places

1.688

In [27]:
#preference of operators
var=10+2*3
val=(10+2)*3
ans=6-5.7
print(var,val,ans)

16 36 0.2999999999999998

In [28]:
round(ans,2)

0.3

Strings in Python

In [29]:
#same as c++
food="ice cream"
food[0]

'i'

In [30]:
#can't change the string 
food[5]='h'

TypeError: 'str' object does not support item assignment

In [ ]:
#access substring first index included last excluded so do +1
food[0:3] #to get ice

In [ ]:
c=food[4:8]
s=food[4:9]
print(c,s)

In [ ]:
b=food[:6]
x=food[3:]
#if index not specified go till extremes assume 0 and last index-1 
print(b,x)

In [ ]:
address = '''1 red street
chicago
USA'''
print(address)

In [ ]:
s1="Hare"
s2="Krishna"
s1+' '+s2

In [ ]:
#Adding no. to string
no=24
y='Cars'
y + ' ' + no

In [ ]:
#converting no to string 
str(no)

In [ ]:
y+ ' '+str(no)

Lists in Python

In [33]:
item1="humility"
item2="compassion"
item3="pride"
item4="strength"
items=[item1,item2,item3,item4]
items

['humility', 'compassion', 'pride', 'strength']

In [34]:
a=items[0]
b=items[-1] #last index
items[2]="gratitude"
print(items)
print(a,b)

['humility', 'compassion', 'gratitude', 'strength']
humility strength

In [35]:
 #access range in list
 items[0:3] #to access first three ele last index excluded

['humility', 'compassion', 'gratitude']

In [36]:
#
items

['humility', 'compassion', 'gratitude', 'strength']

In [37]:
 #change the index of item
items.append("discipline")
items

['humility', 'compassion', 'gratitude', 'strength', 'discipline']

In [38]:
print("To insert and ele at desired index:list.insert(index,value):")
items.insert(1,"responsive")
print(items)

To insert and ele at desired index:list.insert(index,value):
['humility', 'responsive', 'compassion', 'gratitude', 'strength', 'discipline']

In [39]:

items + "anger"

TypeError: can only concatenate list (not "str") to list

In [40]:
#merge two lists using + 
good_Dog=["Japa","SPBR","Pasttimes"]
bad_Dog=["Mundane Talks","Magazines","Prajalpa"]

human=good_Dog + bad_Dog
print(len(human),'\n')
print(human)

6

['Japa', 'SPBR', 'Pasttimes', 'Mundane Talks', 'Magazines', 'Prajalpa']

In [41]:
len(items)

6

In [42]:
#check if ele present in list or not
"discipline" in items

True

In [43]:
"pride" in items

False

IF Else Statement

In [44]:
#check odd or even no.v
num=input("Enter a number:")
x=int(num) #typecasting to int

if(x %2 == 0):
    print("Even no.")
else:
    print("Odd no.")

Enter a number:56
Even no.

In [ ]:
b =input("number")
v=int(b)
print(v)

In [ ]:
indian=["SweetRice","daal","litti"]
chinese=["eggrole","chowmin","fried rice"]
italian=["pizza","pasta","risotto"]

dish=input("Enter dish name:")

if dish in indian:
    print(dish ,":indian")
elif dish in chinese:
    print(dish ,":chinese")
elif dish in italian:
    print(dish ,":italian")
else:
    print("None of these")

Loops in Python

In [ ]:
#total expenses using for loop
exp = [2323,564,53454,7865,12007,4329,3424]
sum = 0 
for x in exp:
    sum+=x
print(sum)

In [ ]:
# print 1 to n using range
for i in range(1,17): #to print till 16 last index excluded
    print(i, i*i , i*i*i )

In [ ]:
# printing the items in list
exp = [2324,5465,75676,97680,3456,4531,6534]
total = 0
for i in range(len(exp)):# same as range(0,5) since start not given so taken 0
    print("Month:", (i+1),"Expense",exp[i])
    total += exp[i]
    
print("Total expense is:", total)

Linear Search in List

In [ ]:
Characters=["Prahlad" , "Dhruv" , "Prithu" , "Ambrish" , "Janak" , "Chanakya"]
key="Prithu"
for i in Characters:
    if(i==key):
        print(" Character:",i)
        break;
    else:
        print("not found")

Print sq of numbers  1 to 5 except even numbers

In [ ]:
for i in range(1,6,2):#the third parameter indicates the increment of i
    print(i*i)

In [ ]:
for i in range(1,6):
    if(i%2==0):
        continue
    print(i*i)

Functions in Py

In [ ]:
#Sum of no. in a list
l1=[232,546,432,454,232,676]
l2=[565,45,342,-89,54,0]
t1=0
t2=0
for item1 in l1:
    t1+=item1
for item2 in l2:
    t2+=item2
print(t1,t2)

In [ ]:
#Using function for sum
def calcSum(list_name):
    total=0
    for item in list_name:
        total+=item
    return total
print(calcSum(l1),calcSum(l2))

In [ ]:
total=0
def sumof(p,q):
    print("Printing sum of:",p,q)
    total=int(p) + int(q)
    print("Total inside fxn:",total)
    return total

p=input("Enter first no:")
q=input("Enter second no:")
ans = sumof(p,q)
print("Total outside fxn:",ans)