# Working With JSON #

In [5]:
x=input("sdfs")

sdfsgjg

In [61]:
#read address book
book = {}
book['tom'] = {
    'name' : 'tom',
    'address' : '1 red street, usa',
    'phone' : 8603546762
}

book['som'] = {
    'name' : 'som',
    'address' : '8 white street, canada',
    'phone' : 4535467623
}

import json
#taking dictionary as input & dumping as string toconvert it into JSON FILE
s = json.dumps(book)
print(s)

{"tom": {"name": "tom", "address": "1 red street, usa", "phone": 8603546762}, "som": {"name": "som", "address": "8 white street, canada", "phone": 4535467623}}

In [57]:
#above is json string
# Executing it as JSON file
with open("C://Users//Hp//Desktop//book1.txt","w") as f:
    f.write(s)
# w to write the file
#the book.txt json file will be created having S data

#### This content in JSON format can be extracted using C++ or Java program.

JSON is called data Exchange Format

In [62]:
#to read that file
f=open("C://Users//Hp//Desktop//book1.txt","r")
# r to read the file into s
s=f.read()
s
# below output is a string

'{"tom": {"name": "tom", "address": "1 red street, usa", "phone": 8603546762}, "som": {"name": "som", "address": "8 white street, canada", "phone": 4535467623}}'

### Converting JSON Object to Dictionary

Using json.loads()

In [63]:
# to read data from s
import json
books = json.loads(s)
books
# this output is an dictionary

{'tom': {'name': 'tom', 'address': '1 red street, usa', 'phone': 8603546762},
 'som': {'name': 'som',
  'address': '8 white street, canada',
  'phone': 4535467623}}

In [64]:
type(books)

dict

In [48]:
# extract data of som
books['som']

{'name': 'som', 'address': '8 white street, canada', 'phone': 4535467623}

In [49]:
books['tom']['phone']
# extracting using key values

8603546762

In [69]:
# printing all the persons in books
for person in book:
    print(book[person])

{'name': 'tom', 'address': '1 red street, usa', 'phone': 8603546762}
{'name': 'som', 'address': '8 white street, canada', 'phone': 4535467623}